html {
    font-family: sans-serif;
    font-size: 26pt;
}

    body {
     
        background-image: url(images/logo_launchCode.jpg);
        background-size: 3%;
    }

        form {
            margin: 20%;
        }
                
            #clean {
                background-color: white;
                padding: 1em;
                text-align: center;
                position: relative;
            }

                #search {
                    padding-bottom: 25px;
                }    
                
                    #engines {
                            margin: 2%;
                        }
                    
                        #duck{
                            max-width:20%;
                            max-height:50%;
                        }
                        #ask {
                            max-width:10%;
                            max-height:50%;
                        }
                        #bing {
                            max-width:10%;
                            max-height:50%;
                        }
                        #google {
                            max-width:15%;
                            max-height:50%;
                        }
                        #yahoo {
                            max-width:20%;
                            max-height:50%;
                        }
                        #baidu {
                            max-width:20%;
                            max-height:50%;
                        }

                        #go {
                            padding-top: 1x;
                            padding-bottom: 10px;
                        }
